---
import Layout from "../../layouts/Layout.astro";
import type { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";
import Marquee from "../../components/Marquee.astro";
const images = import.meta.glob<{default: ImageMetadata}>('../../assets/gallery/*.{jpg,jpeg,png,gif,webp,avif}');
---
<Layout>
    <Marquee>my recent photos</Marquee>
  {images.length ? Object.keys(images).map((image) => (
        <div class="grid gap-2 grid-cols-[repeat(auto-fill,minmax(120px,1fr))] grid-rows-[masonry]">
        <a href={image.replace("/assets", "")} class="hover:scale-105 duration-250 ease-linear"><Image src={images[image]()} alt="Gallery image" width="200"/></a>
        </div>
      )) : <div class="flex justify-center align-middle w-full h-full">
        <p class="text-xl italic my-2 text-[--accent-muted-light] hover:text-white h-min">there's nothing here yet...</p>
      </div>}
</Layout>