a,
a > * {
    text-decoration: underline dotted var(--accent-bg) 2px;
}

a:hover,
a > *:hover {
    text-decoration: underline wavy var(--accent-bg-light) 1px;
    text-shadow: 0 0 0.125rem var(--accent-bg);
}

button,
input[type="submit"],
.button {
    /* hover:b-solid */
    border: 2px dotted var(--accent-bg);
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
}

button:hover,
input[type="submit"]:hover,
.button:hover {
    text-shadow: 0 0 0.125rem var(--accent-bg);
    border-style: solid;
}
