---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Blog</h1>
    <p>This is the blog page. Here you can write your thoughts, stories, or anything else you want to share with the world.</p>
    <p>Stay tuned for more updates!</p>
</Layout>