---
import NewLayout from "../layouts/Layout.astro";

import { fetchAniListData } from "../lib/build-time-data";
import IndieWebRing from "../components/IndieWebRing.astro";

const aniListData = await fetchAniListData();
---

<NewLayout>
    <h2 class="text-2xl font-bold b-b-dotted b-b-1 b-b-cover-accent w-max mb-2">
        about this place
    </h2>
    <p class="text-lg mb-2">welcome / ようこそ！</p>
    <p class="mb-2">
        this site will act as my output to the rest of the world. i need to
        express my thoughts somehow and this seems like an effective way to do
        so. i first was inspired to get into neocities/the new web1.0 by 4star
        and melankorin (u should check their websites out!)
    </p>
    <div>
        <h2 class="text-2xl font-bold hunderline w-max mb-2">about myself</h2>
        <ul id="interests-list">
            <li>
                <h3 class="list-header">language</h3>
                i've recently gotten into it. i'm by no means an expert, but i'm
                currently learning japanese and looking more into the field of linguistics
                itself
                <br />
                im also moderately skilled at toki pona
                <br />
                j'apprends le français (im learningfrench)
            </li>
            <li>
                <h3 class="list-header">computers</h3>
                i've long been interested in computers, especially hardware. i built
                my own computer, and love tinkering with older computers. im currently
                working on a modern hardware music player that incorporates some
                of the features that other options lack (i.e. bluetooth and good
                design)
            </li>
            <li>
                <h3 class="list-header">underground alt hip-hop</h3>
                top 5:
                <ol class="list-decimal-inside">
                    <li>ayowitty</li>
                    <li>bunii</li>
                    <li>MIKE</li>
                    <li>MAVI</li>
                    <li>colin!</li>
                </ol>
            </li>
        </ul>
        <h3 class="font-bold text-xl mt-2">anime</h3>
        <p class="mb-1">
            im not really super into anime (or much other tv/film), but i have
            been getting more into it to help me learn japanese:
        </p>
        <ul class="lowercase">
            <li>
                right now, i'm watching {
                    aniListData.MediaListCollection.lists
                        .find((list) => list.status === "CURRENT")
                        ?.entries.map((entry, i, entries) => (
                            <Fragment>
                                <a
                                    href={entry.media.siteUrl}
                                    style={`border-bottom-color: ${entry.media.coverImage.color || "#fff"}`}
                                >
                                    {entry.media.title.english.replace(
                                        /(?=.+)\sSeason\s\d/g,
                                        "",
                                    )}
                                </a>
                                {i < entries.length - 2
                                    ? ", "
                                    : i === entries.length - 2
                                      ? " and "
                                      : ""}
                            </Fragment>
                        ))
                }
            </li>
            <li>
                i'm planning to watch {
                    aniListData.MediaListCollection.lists
                        .find((list) => list.status === "PLANNING")
                        ?.entries.slice(0, 3)
                        .map((entry, i, entries) => (
                            <Fragment>
                                <a
                                    href={entry.media.siteUrl}
                                    style={`border-bottom-color: ${entry.media.coverImage.color || "#fff"}`}
                                >
                                    {entry.media.title.english.replace(
                                        /(?=.+)\sSeason\s\d/g,
                                        "",
                                    )}
                                </a>
                                {i < entries.length - 2
                                    ? ", "
                                    : i === entries.length - 2
                                      ? " and "
                                      : ""}
                            </Fragment>
                        ))
                } soon.
            </li>
            <li>
                my favorite anime ever are
                {
                    (() => {
                        const seen = new Set();
                        const entries =
                            aniListData.User.favourites.anime.nodes || [];
                        const filtered = entries.filter((entry) => {
                            const cleanedTitle = entry.title.english.replace(
                                /(?=.+)\sSeason\s\d/g,
                                "",
                            );
                            if (seen.has(cleanedTitle)) return false;
                            seen.add(cleanedTitle);
                            return true;
                        });
                        return filtered.map((entry, index) => (
                            <>
                                <a
                                    href={entry.siteUrl}
                                    style={`border-bottom-color: ${entry.coverImage.color || "#fff"}`}
                                >
                                    {entry.title.english.replace(
                                        /(?=.+)\sSeason\s\d/g,
                                        "",
                                    )}
                                </a>
                                {index < filtered.length - 2
                                    ? ", "
                                    : index === filtered.length - 2
                                      ? " and "
                                      : ""}
                            </>
                        ));
                    })()
                }
            </li>
        </ul>
    </div>
    <h2 class="font-bold text-lg mt-4">other places</h2>
    <div
        class="flex flex-row gap-x-2 mt-1 mx-auto w-max children:!b-b-none"
        id="people-buttons"
    >
        <a href="https://melankorin.net/">
            <img
                width="88px"
                height="31px"
                src="https://melankorin.net/assets/img/buttons/button-1.gif"
                alt="melankorin.net button"
            />
        </a>
        <a href="https://fourstar.nekoweb.org"
            ><img
                width="88px"
                height="31px"
                src="https://fourstar.nekoweb.org/88x31.gif"
                alt="FourStar button"
            /></a
        >
        <a href="https://sailorichigo.nekoweb.org/"
            ><img
                width="88px"
                height="31px"
                src="https://sailorichigo.nekoweb.org/images/sailorichigo.gif"
                alt="sailorichigo"
            /></a
        >
        <a href="https://nekoweb.org/"
            ><img
                width="88px"
                height="31px"
                src="https://nekoweb.org/assets/buttons/button5.gif"
                alt="nekoweb.org button"
            /></a
        ><!-- button by max.nekoweb.org -->
        <a target="_blank" href="https://byemc.xyz"
            ><img
                width="88px"
                height="31px"
                src="https://byemc.xyz/assets/buttons/byebutton.gif"
                alt="Bye's Button"
            /></a
        >
    </div>
    <div class="mx-auto w-max mt-2">
        <IndieWebRing />
    </div>
</NewLayout>

<style>
    ul,
    ol {
        @apply ml-4;
    }

    ul li {
        @apply mb-2 list-disc;
    }

    ol li {
        @apply mb-2 list-decimal;
    }

    h3.list-header {
        @apply italic font-bold;
    }

    a {
        @apply link;
    }

    ul#interests-list > li {
        @apply mb-4;
    }
</style>
