---
import Layout from "../layouts/Layout.astro";
const blogPosts = Object.values(
	import.meta.glob("./blog/**/*.md", {
		eager: true,
	}),
);
---

<Layout>
    <h1 class="text-2xl mb-2 font-800">recent writing</h1>
    <ul>
        {blogPosts.map((post: any) => <a href={post.url} class="my-3"><li class="b-[--accent-muted-light] b-2 b-dotted py-2 px-5 hover:b-dashed duration-250"><h3 class="text-xl italic text-[--accent-bg-light]">{post.frontmatter.title}</h3><p class="text-sm text-[--accent-text-dark]">{post.frontmatter.description}</p></li></a>)}
        { blogPosts.length < 3 && (
            <li class="op-50 hover:op-100 my-3 b-[--accent-muted-light] b-2 b-dotted py-2 px-5 hover:b-dashed duration-250"><h3 class="text-xl italic text-[--accent-bg-light]">more posts coming soon!</h3><p class="text-sm text-[--accent-text-dark] italic">check back later</p></li>
        )}
    </ul>
</Layout>