---
import Layout from "../layouts/Layout.astro";
import MusicStats from "../components/islands/MusicStats.svelte";
import Marquee from "../components/Marquee.astro";
const ranges = [
	"this_week",
	"this_month",
    "this_year",
	"all_time",
];
---

<Layout padding="0">
    <Marquee margin="0">what i've been listening to</Marquee>
    <div>
        <ul class="flex justify-center py-1.5 m-0 list-none px-2" data-tabs>
            {ranges.map((range) => (
                <li><a {...(range === "this_week" ? {"data-tabby-default": true} : {})} href={`#${range}`}>{range.replace("this_", "").replace("_", " ")}</a></li>
            ))}
        </ul>
    </div>
    {ranges.map((range) => (
        <div class="p-4" id={range}><MusicStats range={range} client:only="svelte"/></div>
    ))}
    <script>
        import Tabby from "tabbyjs";
        window.Tabby = Tabby; // Make sure Tabby is available globally
        const tabs = new Tabby("[data-tabs]")
    </script>    
</Layout>

<style>
    ul{
        background: var(--accent-bg-light, #fff);
    }
    ul > li > a {
        text-decoration: none;
        color: var(--accent-text-light, #000);
        background: transparent;
        font-weight: bold;
        padding: 0.4rem 1.5rem;
        height: 100%;
        cursor: cell;
        border: transparent 2px solid; /* prevents shifting when selected */
        border-top: none;
    }
    ul > li > a[aria-selected="true"], ul > li > a:hover {
        color: var(--accent-text-dark, #fff);
        background-color: var(--accent-bg-dark, #000);
        border: var(--accent-bg-light, #fff) 2px solid;
        border-top: none
    }
</style>