---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<h2>welcome, welcome</h2>
		<p class="subtitle">home of the sun</p>
		<p>peel in my second whip,<br/>
	  stealin puttin secondhand <br/>
  kills in my residence<br/>
  healed all my brethren wit a seal, we cant let you in.. <br/>
  medicine<br/>
  i put that effort in to still burn that effigy 「おねがい」</p>
	  </section>
</Layout>
