---
import Marquee from "./Marquee.astro";

const quotes = [
	"the love of beauty is the beginning of wisdom",

	// aww (zaza) - MIKE
	"stuck in the midst of it all",
	"struggling? hmm, nah",
	"if you was who you say that you are...",

	// solace - earl sweatshirt
	"it's me and my nibbling conscience",

	// terms & conditions - MAVI
	"sun and moon were sad about this, and they went to talk to water...",

	// self love - MAVI
	"i self aggrandized in the past, but now the sun talking",

	// sense - MAVI
	"i'm clutch!",
	"breathing out of love for respiration",
	"i'm brown for pete's sake, crown me",
	"i'm in and out of clauses",
	"i weave the darkness you can hear, baby",
	"i parse my garden on the real, daily",
	"and you can sense it",

	// moonfire - MAVI
	"the sky is in my future",
	"sense it, cumulonimbus whisper",
	"brush myself off, cursing gravity",
	"let the sun talk",
];

function shuffle(list: Array<string>): Array<string> {
	for (let i = list.length - 1; i > 0; i--) {
		// Generate random index
		const j = Math.floor(Math.random() * (i + 1));

		// Swap elements at indices i and j
		const temp = list[i];
		list[i] = list[j];
		list[j] = temp;
	}
	return list;
}
---


<Marquee margin="0" class="font-bold italic m-0 text-lg" speed="0.25" reverse={false}>
{shuffle(quotes).map((quote) => 
    (<span class="px-8">{`${quote}`}</span><span class="px-8">//</span>)
)}
</Marquee>