---
import header from "../assets/1024.png";
import { Image } from "astro:assets";
---

<header>
    <Image src={header} alt="Header Image" />
    <h1 style="font-size: 3rem">thrizzle <span class="rotate-animation">*</span></h1>
</header>

<style>
    .rotate-animation {
        animation: rotate 2s linear infinite;
        animation-duration: 2s;
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    header {
        flex-direction: column;
        justify-content: end;
        color: #000;
        min-height: 650px;
        background-color: #000;
        position: relative;
    }

  header img {
    position: absolute;
    width: 100%;
    min-height: 650px;
    height: 650px;
    object-fit: cover
  }
  
  header h1 {
    font-size: 2rem;
    text-transform: lowercase;
    padding: 1rem 0;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    width: 100%
  }
  
  header span {
    color: #ccc;
  }
</style>