---
import header from "../assets/1024-transparent.png";
import { Image } from "astro:assets";
---

<header class="flex-col justify-end text-black min-h-[41rem] bg-transparent relative" style="background: var(--accent-bg-dark, #000)">
    <Image class="absolute w-full min-h-13 h-full object-cover" src={header} alt="Header Image" />
    <h1 class="text-6xl font-800 bottom-4 w-full absolute py-1 text-center" style="color: var(--accent-bg)">⋆⁺₊⋆<p class="mx-0 inline text-black">thrizzle</p>⋆⁺₊⋆</h1>
</header>