---
const {
	margin,
	class: _class,
	speed = "1",
	reverse = true,
	excludeDefaultStyle = false,
} = Astro.props;
const trueMargin = margin !== undefined ? margin : "2";
---

<div
    class={`marquee3k ${!excludeDefaultStyle && "w-full overflow-clip bg-[--accent-muted-dark, bg-green-7] b-2 b-solid b-[--accent-bg-light, bg-green-8]"}`}
    data-speed={speed}
    style={`margin-top: ${parseInt(trueMargin)*0.25}rem; margin-bottom: ${parseInt(trueMargin)*0.25}rem`}
    {...(reverse && {"data-reverse": true})}
>
    <h1 class={_class || "text-white text-7xl lg:text-4xl py-2 px-4 font-bold m-0"}>
        <slot/>
    </h1>
</div>