---
const currentPath = Astro.url.pathname;
---

<nav class="top-nav">
    <ul>
        <li><a class=`${currentPath === '/' ? 'selected' : ''}` href="/">home</a></li>
        <li><a class=`${currentPath.startsWith('/blog') ? 'selected' : ''}` href="/blog">blog</a></li>
        <li><a class=`${currentPath === '/music/' ? 'selected' : ''}` href="/music">music</a></li>
        <li><a href="#">gallery</a></li>
        <li><a href="#">links</a></li>
    </ul>
</nav>

<style>
    .top-nav {
        background: var(--accent-bg, #fff);
        font-size: 1rem;
    }

    .top-nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        margin: 0;
    }

    .top-nav li {
        height: 100%
    }

    .top-nav a {
        text-decoration: none;
        color: var(--accent-text-light, #000);
        background: transparent;
        font-weight: bold;
        padding: 0.7rem 1.5rem;
        padding-top: 0.7rem; /* don't know why this is necessary but whatever */
        height: 100%;
        cursor: cell;
    }
    .top-nav a:hover, .top-nav a.selected {
        color: var(--accent-text-dark, #fff);
        background: var(--accent-bg-dark, #000);
    }
</style>
