---
const links = [
    { name: "home", slug: "/home" },
    { name: "blog", slug: "/blog" },
    { name: "music", slug: "/music" },
    { name: "links", slug: "/links" },
];
const currentPath = Astro.url.pathname;
---


    <nav class="justify-items-end text-right">
        {
            links.map((link) => (
                <a
                    href={link.slug}
                    class={`${currentPath.startsWith(link.slug) ? "selected": ""} block b-b-2 b-green-7 b-dotted`}
                >
                    {link.name}
                </a>
            ))
        }
    </nav>

<style>
    .selected {
        @apply font-bold b-b-2 first:b-b-2 b-green b-solid;
    }
</style>
