---
const links = [
    { name: "home", slug: "/home" },
    { name: "blog", slug: "/blog" },
    { name: "music", slug: "/music" },
    { name: "links", slug: "/links" },
];
const currentPath = Astro.url.pathname;
---

<nav class="justify-end items-end text-right">
    {
        links.map((link) => (
            <a
                href={link.slug}
                class={`${currentPath.startsWith(link.slug) ? "selected": ""} last:b-b-0 b-b-1 b-dotted w-max italic b-b-green pl-2 pr-1 block`}
            >
                {link.name}
            </a>
        ))
    }
</nav>

<style>
    .selected {
        @apply font-bold b-2 first:b-l-2 b-green b-solid;
    }
</style>
