---
import { navBarLinks } from "../lib/data";
const links = navBarLinks;
const currentPath = Astro.url.pathname;

function selectedSlug(slug: string) {
	if (slug === "/" && currentPath === "/") {
		return true;
	}
	return slug !== "/" ? currentPath.startsWith(slug) : false;
}
---


    <nav class="text-right">
        {
            links.map((link: {name: string, slug: string}) => (
                <a
                    href={link.slug}
                    class={`${selectedSlug(link.slug) ? "selected": ""} block b-b-2 b-cover-accent b-dotted hover:text-glow hover:b-cover-bright`}
                >
                    {link.name}
                </a>
            ))
        }
    </nav>

<style>
    .selected {
        @apply font-bold b-b-2 first:b-b-2 b-accent b-solid text-glow;
    }
</style>
