---
import header from "../assets/1024.png";
---

<!-- <main> -->
	<section>
	  <h2>welcome, welcome</h2>
	  <p class="subtitle">home of the sun</p>
	  <p>peel in my second whip,<br/>
	stealin puttin secondhand <br/>
kills in my residence<br/>
healed all my brethren wit a seal, we cant let you in.. <br/>
medicine<br/>
i put that effort in to still burn that effigy 「おねがい」</p>
	</section>
  <!-- </main> -->

<style>

</style>
