---
const { backgroundColor = "bg-green-9", title = "planet", description = "a home for all my hopes, dreams, thoughts and schemes", showHeader = true } = Astro.props;
import Html from "./Html.astro";
import TopNavbar from "../components/TopNavbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";

---
<Html backgroundColor={backgroundColor}>

    <div class="grid grid-cols-[25%_50%_25%] justify-center text-white overflow-x-scroll min-w-screen">
        <Sidebar/>
        <main
            class="relative self-start text-center inline-block bg-green-9 w-full min-h-screen px-8 pt-16 lg:mt-16 mb-16 text-white inline-block"
        >
            {showHeader && (<div
                class="bg-green-8 flex flex-col justify-end w-80vw lg:w-full min-h-3/4 py-4 my-4"
            >
                <h1 class="text-5xl font-bold z-1">
                    thrizzle's <span class="italic">{title}</span>
                </h1>
                <p class="b-t-dotted b-t-1 b-t-green w-max mx-auto mb-2 print-hidden">
                    {description}
                </p>
                <!-- <TopNavbar /> -->
            </div>)}
            <div class="text-left my-4 line-height-snug w-80vw lg:w-full">
                <slot />
            </div>
        </main>
        <div class="w-full"></div>
    </div>
    <Footer/>

<script>
    import Marquee3k from "marquee3000";
    window.Marquee3k = Marquee3k;
    document.addEventListener("astro:page-load", () => {
        Marquee3k.init();

        // scroll position
        const scrollPosition = sessionStorage.getItem("scrollPosition");
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition, 10));
        }
    });
    document.addEventListener("astro:before-preparation", () => {
        sessionStorage.setItem("scrollPosition", window.scrollY.toString());
    });
</script>

</Html>

