---
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import NowPlaying from "../components/islands/NowPlaying.svelte";
import Status from "../components/islands/Status.svelte";
import ClientRouter from "astro/components/ClientRouter.astro";
const {layoutPadding: desiredPadding}: {desiredPadding: string} = Astro.props;
function isRealValue(value: number): boolean {
  return value !== undefined && value !== null && !Number.isNaN(value);
}
const layoutPadding = isRealValue(Number.parseInt(desiredPadding)) ? Number.parseInt(desiredPadding) : 2; // Default to 2rem if not provided
---

<script>
  document.addEventListener("astro:page-load", () => {
    console.log("hi")
    const scrollPosition = sessionStorage.getItem("scrollPosition");
     if (scrollPosition) {
       window.scrollTo(0, parseInt(scrollPosition, 10));
       console.log(`Restoring scroll position to ${scrollPosition}`);
     }

  let rawPalette = sessionStorage.getItem("palette");
    if (!rawPalette) {
      console.debug("No palette found in sessionStorage.");
    }
    const palette = JSON.parse(rawPalette);
    if (palette) {
      const textColors = JSON.parse(sessionStorage.getItem("textColors"));
    document.documentElement.style.setProperty(
				"--accent-bg-dark",
				`rgb(${palette?.DarkVibrant?.rgb.join(", ")})` || "#000"
			);
			document.documentElement.style.setProperty(
				"--accent-bg",
				`rgb(${palette?.Vibrant?.rgb.join(", ")})` || "#fff"
			);
      document.documentElement.style.setProperty(
			"--accent-bg-light",
			`rgb(${palette?.LightVibrant?.rgb.join(", ")})` || "#fff"
		);
			document.documentElement.style.setProperty(
			"--accent-text-dark",
			textColors.dark || "#ffffff"
		);
		document.documentElement.style.setProperty(
			"--accent-text-light",
			textColors.light || "#ffffff"
		);
      document.documentElement.style.setProperty(
			"--accent-muted-light",
			`rgb(${palette?.LightMuted?.rgb.join(", ")})` || "#fff"
		);
		document.documentElement.style.setProperty(
			"--accent-muted-dark",
			`rgb(${palette?.DarkMuted?.rgb.join(", ")})` || "#fff"
		);
    document.documentElement.style.setProperty(
			"--accent-muted",
			`rgb(${palette?.Muted?.rgb.join(", ")})` || "#fff"
		);
		document.documentElement.style.setProperty(
			"--accent-muted",
			`rgb(${palette?.Muted?.rgb.join(", ")})` || "#fff"
		);
    }
  });
  document.addEventListener("astro:before-preparation", () => {
    sessionStorage.setItem("scrollPosition", window.scrollY.toString());
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>thrizzle</title>
    <link rel="icon" type="image/png" href="/skype/mantelpiece_clock.png" />
    <ClientRouter />
  </head>
  <body>
    <div class="wrapper w-full mx-auto my-0" style="background-color: var(--accent-bg-dark, #fff)">
      <Header />

      <Navbar />
      <marquee class="bg-yellow absolute top-0 w-full py-2 lg:hidden">
        <span
          style="font-family: 'Apple Garamond', serif; font-size: 1.2rem; color: #000;"
        >
          this site is designed for desktop. for the best experience, please
          visit on a computer or tablet. no promises for how this looks on
          mobile ✌🏽
        </span>
      </marquee>

      <div class="content">
        <aside class="sidebar-left" transition:persist>
          <section class="mb-4">
            <h2 class="font-800">status</h2>
            <Status client:only="svelte">
              <span slot="fallback" style="font-weight: bolder">loading</span> /
              please be patient <img
                height="16rem"
                src="/skype/thinking_face.png"
                alt="thinking face"
              />
            </Status>
          </section>
          <section>
            <div
              class="flex items-center justify-between"
              style="display: flex; justify-content: space-between; align-items: center;"
            >
              <h2 class="font-800 mb-0 border-b-0 mb-0" style="border: none">
                tunes
              </h2>
              <a
                style="font-family: Chicago; color: black; margin-top: 1rem; font-size: 0.65rem"
                href="/music">more music</a
              >
            </div>
            <NowPlaying client:only="svelte">
              <div class="flex flex-col items-center border-black b-2 lg:items-start">
                <img class="border-black border-b-2 w-full aspect-ratio-square p-5"
                  src="/skype/sign_of_the_horns.png"
                  alt="cover art"
              
                />
                <div
                  class="text-left my-5 h-auto lg:ml-5 max-w-3/4"
                >
                <p class="block text-sm w-max duration-100 hover:b-b-1 b-b-black b-b-dotted cursor-help line-height-none mt-0.5" style="margin: 0">one moment</p>
                  <p
                    class="duration-100 hover:b-b-1 b-b-black b-b-dotted cursor-help line-height-none"
                    data-speed="0.25"
                    style="font-size: 1.25rem; font-weight: bold; margin:0; max-width: 400px"
                  >
                    loading...
                </p>
                </div>
              </div>
            </NowPlaying>
          </section>
        </aside>

        <main style=`padding: 0 ${parseInt(layoutPadding)*0.25}rem`>
          <slot />
        </main>

        <aside class="sidebar-right">
          <section class="mb-4">
            <h2 class="font-800">changelog</h2>
            <p>yibber yabber</p>
          </section>
          <section>
            <h2 class="font-800">sum else idk what to put here</h2>
            <p>blah blah</p>
          </section>
        </aside>
      </div>

      <footer>
        <p class="text-[--accent-bg]">version 4.3.2 | <a href="#">RSS feed</a> …</p>
      </footer>
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Apple Garamond";
    src: url("/fonts/Apple Garamond Bold Italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
  }

  @font-face {
    font-family: "Apple Garamond";
    src: url("/fonts/Apple Garamond Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
  }

  @font-face {
    font-family: "Apple Garamond";
    src: url("/fonts/Apple Garamond Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
  }

  @font-face {
    font-family: "Apple Garamond";
    src: url("/fonts/Apple Garamond.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
  }

  p {
    font-family: "Apple Garamond", serif;
  }
</style>

<style>
  :root {
    /* --accent-bg: #ff; */
    /* --accent-text: #fff; */
  }
  body {
    background: var(--accent-bg-light, #000);
    color: var(--accent-text-dark, #000);
    font-family: "Apple Garamond", monospace;
    margin: 0;
  }

  /* Header */
  header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #000;
    min-height: 650px;
    background-color: #000;
  }

  header h1 {
    font-size: 2rem;
    text-transform: lowercase;
    padding: 1rem;
    text-align: center;
  }

  header span {
    color: #ccc;
  }

  .content {
    display: flex;
    padding: 1rem;
    border-left: 1.5px solid var(--accent-bg-light, #000);
    border-right: 1.5px solid var(--accent-bg-light, #000);
  }

  .sidebar-left,
  .sidebar-right {
    width: 25%;
    padding: 0 1rem;
  }

  main {
    width: 50%;
    /* padding: 0 1rem; */
  }

  .sidebar-left {
    border-right: 2px solid var(--accent-bg-light, #000);
  }

  .sidebar-right {
    border-left: 2px solid var(--accent-bg-light, #000);
  }

  h2 {
    border-bottom: 2px solid var(--accent-bg-light, #000);
    /* padding-bottom: 0.25rem; */
    /* margin-bottom: 0.5rem; */
    text-transform: lowercase;
    font-size: 1.2rem;
  }

  .subtitle {
    font-style: italic;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
    line-height: 1.4;
  }

  footer {
    border-top: 2px solid var(--accent-bg-light, #000);
    padding: 1rem;
    text-align: center;
    background: #eee;
  }

  footer a {
    color: #000;
    text-decoration: none;
  }
</style>
