---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import NowPlaying from "../components/islands/NowPlaying.svelte";
import Status from "../components/islands/Status.svelte";
import Html from "./Html.astro";
const { padding }: { padding: string } = Astro.props;
function isRealValue(value: number): boolean {
  return value !== undefined && value !== null && !Number.isNaN(value);
}
const truePadding = isRealValue(Number.parseInt(padding))
  ? Number.parseInt(padding)
  : 2; // Default to 2rem if not provided

const commitRes = await (await fetch("https://api.github.com/repos/thrzl/neo/commits?per_page=1")).json()
const commit = {message: commitRes[0].commit.message, hash: commitRes[0].sha.slice(0,7)}
---

<script>
  import { defaultPalette } from "../lib/colors";

  function buildRgb(rgb: [number, number, number] | undefined): string | null {
    return rgb ? `rgb(${rgb.join(", ")})` : null;
  }
  document.addEventListener("astro:page-load", () => {
    const scrollPosition = sessionStorage.getItem("scrollPosition");
    if (scrollPosition) {
      window.scrollTo(0, parseInt(scrollPosition, 10));
      console.log(`Restoring scroll position to ${scrollPosition}`);
    }

    let rawPalette = sessionStorage.getItem("palette");
    if (!rawPalette) {
      console.debug("No palette found in sessionStorage.");
    }
    const palette = JSON.parse(rawPalette);
    const textColors = JSON.parse(sessionStorage.getItem("textColors"));
    document.documentElement.style.setProperty(
      "--accent-bg-dark",
      buildRgb(palette?.DarkVibrant?.rgb) ||
        buildRgb(defaultPalette.DarkVibrant.rgb),
    );
    document.documentElement.style.setProperty(
      "--accent-bg",
      buildRgb(palette?.Vibrant?.rgb) || buildRgb(defaultPalette.Vibrant.rgb),
    );
    document.documentElement.style.setProperty(
      "--accent-bg-light",
      buildRgb(palette?.LightVibrant?.rgb) ||
        buildRgb(defaultPalette.LightVibrant.rgb),
    );
    document.documentElement.style.setProperty(
      "--accent-text-dark",
      textColors?.dark || "#fff",
    );
    document.documentElement.style.setProperty(
      "--accent-text-light",
      textColors?.light || "#000",
    );
    document.documentElement.style.setProperty(
      "--accent-muted-light",
      buildRgb(palette?.LightMuted?.rgb) ||
        buildRgb(defaultPalette.LightMuted.rgb),
    );
    document.documentElement.style.setProperty(
      "--accent-muted-dark",
      buildRgb(palette?.DarkMuted?.rgb) ||
        buildRgb(defaultPalette.DarkMuted.rgb),
    );
    document.documentElement.style.setProperty(
      "--accent-muted",
      buildRgb(palette?.Muted?.rgb) || buildRgb(defaultPalette.Muted.rgb),
    );
  });
  document.addEventListener("astro:before-preparation", () => {
    sessionStorage.setItem("scrollPosition", window.scrollY.toString());
  });

  import Marquee3k from "marquee3000";
  document.addEventListener("astro:page-load", () => {
    Marquee3k.init();
  })

</script>

<Html>
    <div
      class="wrapper w-full mx-auto my-0"
      style="background-color: var(--accent-bg-dark, #fff)"
    >
      <Header />

      <Navbar />
      <marquee class="bg-yellow absolute top-0 w-full py-2 lg:hidden">
        <span
          style="font-family: 'Apple Garamond', serif; font-size: 1.2rem; color: #000;"
        >
          this site is designed for desktop. for the best experience, please
          visit on a computer or tablet. no promises for how this looks on
          mobile ✌🏽
        </span>
      </marquee>

      <div class="content">
        <aside class="sidebar-left" transition:persist>
          <section class="mb-4">
            <h2 class="font-800">status</h2>
            <Status client:only="svelte">
              <span slot="fallback" style="font-weight: bolder">loading</span> /
              please be patient <img
                height="16rem"
                src="/skype/thinking_face.png"
                alt="thinking face"
              />
            </Status>
          </section>
          <section>
            <div
              class="flex items-center justify-between"
              style="display: flex; justify-content: space-between; align-items: center;"
            >
              <h2 class="font-800 mb-0 border-b-0 mb-0" style="border: none">
                tunes
              </h2>
              <a
                style="font-family: Chicago; color: black; margin-top: 1rem; font-size: 0.65rem"
                href="/music">more music</a
              >
            </div>
            <NowPlaying client:only="svelte">
              <div
                class="flex flex-col items-center border-black b-2 lg:items-start"
              >
                <img
                  class="border-black border-b-2 w-full aspect-ratio-square p-5"
                  src="/skype/sign_of_the_horns.png"
                  alt="cover art"
                />
                <div class="text-left my-5 h-auto lg:ml-5 max-w-3/4">
                  <p
                    class="block text-sm w-max duration-100 hover:b-b-1 b-b-black b-b-dotted cursor-help line-height-none mt-0.5"
                    style="margin: 0"
                  >
                    one moment
                  </p>
                  <p
                    class="duration-100 hover:b-b-1 b-b-black b-b-dotted cursor-help line-height-none"
                    data-speed="0.25"
                    style="font-size: 1.25rem; font-weight: bold; margin:0; max-width: 400px"
                  >
                    loading...
                  </p>
                </div>
              </div>
            </NowPlaying>
          </section>
          <section class="my-4">
            <h2 class="font-800">latest update</h2>
            <a href=`https://github.com/thrzl/neo/commit/${commit.hash}` class="link italic op-75 hover:op-100 mr-2 duration-250">{commit.hash}</a><p class="inline pl-2 ml-2 b-l-1 b-solid">{commit.message}</p>
          </section>
          <section>
            <h2 class="font-800">tamanotchi</h2>
            <div class="m-auto flex items-center align-middle justify-center w-1/2 aspect-ratio-square"><a href="https://tamanotchi.world/22362c" class="underline-none"><img src="https://tamanotchi.world/i2/22362" class="hover:animate-[wobble_infinite_2s_steps(1,end)] animate-[wobble_infinite_6s_steps(1,end)]" alt="It's tamaNOTchi! Click to feed!"></a></div>
          </section>
        </aside>

        <main style=`padding: 0 ${truePadding*0.25}rem`>
          <slot />
        </main>
      </div>

      <footer>
        <Footer/>
      </footer>
    </div>
</Html>

<style is:global>

</style>

<style>
  :root {
    /* --accent-bg: #ff; */
    /* --accent-text: #fff; */
  }

  /* Header */
  header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #000;
    min-height: 650px;
    background-color: #000;
  }

  header h1 {
    font-size: 2rem;
    text-transform: lowercase;
    padding: 1rem;
    text-align: center;
  }

  header span {
    color: #ccc;
  }

  .content {
    display: flex;
    padding: 1rem;
    border-left: 1.5px solid var(--accent-bg-light, #000);
    border-right: 1.5px solid var(--accent-bg-light, #000);
  }

  .sidebar-left,
  .sidebar-right {
    width: 25%;
    padding: 0 1rem;
  }

  main {
    width: 75%;
    padding: 0 1rem;
  }

  .sidebar-left {
    border-right: 2px solid var(--accent-bg-light, #000);
  }

  .sidebar-right {
    border-left: 2px solid var(--accent-bg-light, #000);
  }

  h2 {
    border-bottom: 2px solid var(--accent-bg-light, #000);
    /* padding-bottom: 0.25rem; */
    /* margin-bottom: 0.5rem; */
    text-transform: lowercase;
    font-size: 1.2rem;
  }

  .subtitle {
    font-style: italic;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
    line-height: 1.4;
  }

  footer {
    border-top: 2px solid var(--accent-bg-light, #000);
    /* padding: 1rem; */
    text-align: center;
    background: #eee;
  }

  footer a {
    color: #000;
    text-decoration: none;
  }
</style>
