---
const {
    backgroundColor = "bg-green-9",
    title = "planet",
    description = "a home for all my hopes, dreams, thoughts and schemes",
    showHeader = true,
    pageTitle = "",
} = Astro.props;
import Html from "./Html.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Html backgroundColor={backgroundColor} title={pageTitle}>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            requestAnimationFrame(() => {
                document.body.style.transition = "";
                document.documentElement.classList.add("colors-fade");

                const dynamicElements =
                    document.querySelectorAll('[class*="cover-"]');
                dynamicElements.forEach((el) => {
                    el.classList.forEach((cls) => {
                        const match = cls.match(
                            /^(text|bg|border)-cover-(.+)$/,
                        );
                        if (match) {
                            if (
                                !(
                                    el.classList.contains(
                                        "transition-colors",
                                    ) && el.classList.contains("duration-200")
                                )
                            )
                                // el.classList.add("colors-fade");
                                console.log("");
                        }
                    });
                });
            });
            const scrollPosition = sessionStorage.getItem("scrollPosition");
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
            document.documentElement.style.scrollBehavior = "smooth";
            document.addEventListener("visibilitychange", () => {
                sessionStorage.setItem(
                    "scrollPosition",
                    window.scrollY.toString(),
                );
            });
        });
    </script>

    <div
        class="grid grid-cols-[100vw_100vw_0] lg:grid-cols-[25%_50%_25%] justify-center overflow-x-auto snap-x snap-mandatory lg:overflow-x-visible lg:snap-none min-w-screen"
        style="color: var(--accent-text, #fff)"
    >
        <Sidebar class="snap-start min-w-full lg:min-w-0" />
        <main
            class="relative self-start text-center inline-block bg-cover-base w-full min-h-screen px-8 pt-16 lg:mt-16 mb-16 snap-start min-w-full lg:min-w-0"
        >
            {
                showHeader && (
                    <div class="b-cover-accent b-4 b-solid flex flex-col justify-end w-80vw lg:w-full min-h-3/4 py-4 my-4">
                        <h1 class="text-5xl font-bold z-1">
                            thrizzle's <span class="italic">{title}</span>
                        </h1>
                        <p class="b-t-dotted b-t-1 b-t-cover-muted w-max mx-auto mb-2 print-hidden">
                            {description}
                        </p>
                    </div>
                )
            }
            <div class="text-left my-4 line-height-snug w-80vw lg:w-full">
                <slot />
            </div>
        </main>
        <div class="hidden lg:block w-full"></div>
    </div>
    <Footer />
    <style is:global>
        .colors-fade {
            transition-property:
                color, background-color, border-color, text-decoration-color,
                fill, stroke;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 1s;
        }
        :root {
            --dominant: rgb(20, 83, 45);
            --accent-bg: rgb(22, 101, 52);
            --accent-muted-light: rgb(22, 101, 52);
            --accent-bg-light: rgb(22, 101, 52);
            --accent-bg: rgb(74, 222, 128);
        }
    </style>
</Html>
