---
const {
    backgroundColor = "bg-green-9",
    title = "planet",
    description = "a home for all my hopes, dreams, thoughts and schemes",
    showHeader = true,
    pageTitle = "",
} = Astro.props;
import Html from "./Html.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Html backgroundColor={backgroundColor} title={pageTitle}>
    <script>
        import type { CompletePalette } from "../lib/colors";
        document.addEventListener("DOMContentLoaded", () => {
            const palette: CompletePalette = JSON.parse(
                sessionStorage.getItem("palette") || "",
            );
            if (palette) {
                document.documentElement.style.setProperty(
                    "--dominant",
                    palette.dominant || "#000000",
                );
                document.documentElement.style.setProperty(
                    "--accent-bg",
                    palette.palette[0] || "#fff",
                );
                document.documentElement.style.setProperty(
                    "--accent-bg-light",
                    palette.palette[1] || "#fff",
                );
                document.documentElement.style.setProperty(
                    "--accent-muted-light",
                    palette.palette[3] || "#fff",
                );
                document.documentElement.style.setProperty(
                    "--accent-text",
                    palette.textColor || "#ffffff",
                );
            }
            const scrollPosition = sessionStorage.getItem("scrollPosition");
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
            document.documentElement.style.scrollBehavior = "smooth";
            document.addEventListener("visibilitychange", () => {
                sessionStorage.setItem(
                    "scrollPosition",
                    window.scrollY.toString(),
                );
            });
            document.querySelectorAll('[class*="cover-"]').forEach((el) => {
                el.classList.forEach((cls) => {
                    const match = cls.match(/^(text|bg|border)-cover-(.+)$/);
                    if (match) {
                        if (
                            !(
                                el.classList.contains("transition-colors") &&
                                el.classList.contains("duration-200")
                            )
                        )
                            el.classList.add(
                                "transition-colors",
                                "duration-1000",
                            );
                    }
                });
            });
        });
    </script>

    <div
        class="grid grid-cols-[100vw_100vw_0] lg:grid-cols-[25%_50%_25%] justify-center overflow-x-auto snap-x snap-mandatory lg:overflow-x-visible lg:snap-none min-w-screen"
        style="color: var(--accent-text, #fff)"
    >
        <Sidebar class="snap-start min-w-full lg:min-w-0" />
        <main
            class="relative self-start text-center inline-block bg-cover-base w-full min-h-screen px-8 pt-16 lg:mt-16 mb-16 snap-start min-w-full lg:min-w-0"
        >
            {
                showHeader && (
                    <div class="b-cover-accent b-4 b-solid flex flex-col justify-end w-80vw lg:w-full min-h-3/4 py-4 my-4">
                        <h1 class="text-5xl font-bold z-1">
                            thrizzle's <span class="italic">{title}</span>
                        </h1>
                        <p class="b-t-dotted b-t-1 b-t-cover-muted w-max mx-auto mb-2 print-hidden">
                            {description}
                        </p>
                    </div>
                )
            }
            <div class="text-left my-4 line-height-snug w-80vw lg:w-full">
                <slot />
            </div>
        </main>
        <div class="hidden lg:block w-full"></div>
    </div>
    <Footer />
</Html>
