---
const { backgroundColor = "bg-green-9", title = "planet" } = Astro.props;
import Html from "./Html.astro";
import Navbar from "../components/NewNavbar.astro";
---

<Html backgroundColor={backgroundColor}>
    <div class="flex flex-row relative">
        <aside
            class="hidden lg:inline-block max-w-40 align-top mt-48 px-2 text-right b-r-green-8 b-solid b-r-1"
        >
            <h2 class="font-bold text-lg">left sidebar</h2>
            <p class="text-wrap">
                ok the difference tween a person like me and a hundred million is a
                couple years, had to knock the lining out her ribs to let some
                love in there
            </p>
        </aside>
        <main
            class="prose mx-auto self-start relative text-center inline-block bg-green-9 lg:max-w-1/2 min-h-screen px-16 pt-16 lg:mt-16 text-white inline-block"
        >
            <div
                class="bg-green-8 flex flex-col justify-end w-full min-h-3/4 py-4 my-4"
            >
                <h1 class="text-5xl font-bold z-1">
                    thrizzle's <span class="italic">{title}</span>
                </h1>
                <p class="b-t-dotted b-t-1 b-t-green w-max mx-auto mb-2">
                    a home for all my hopes, dreams, thoughts and schemes
                </p>
                <Navbar />
            </div>
            <div class="text-left my-4 line-height-snug">
                <slot />
            </div>
        </main>
    </div>
</Html>
